includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
      - '#Trait Safemood\\\\MagicScopes\\\\Traits\\\\HasMagicScopes is used zero times and is not analysed#'
